.todoCard {
  background-color: var(--color-bw9);
  border: 2px solid var(--color-primary-light);
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: var(--color-bw3);
  margin: 1rem;
  cursor: pointer;
}

.todoCard span {
  display: inline-flex;
  justify-content: space-between;
}

.ownerName {
  font-weight: 600;
}

.completed {
  background-color: var(--color-bw5);
}
