:root {
  --color-bw1: #212529;
  --color-bw2: #343a40;
  --color-bw3: #495057;
  --color-bw4: #6c757d;
  --color-bw5: #adb5bd;
  --color-bw6: #ced4da;
  --color-bw7: #dee2e6;
  --color-bw8: #e9ecef;
  --color-bw9: #f8f9fa;
  --color-primary-light: #957bbc;
  --color-primary-dark: #664382;
  --color-secondary-dark: #199196;
  --color-secondary-light: #89c7cb;
}

/* Set box-sizing to border-box globally, eliminate padding and margin. */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Set default font family, font size and max-width with no overflow. */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 100vw;
  overflow-x: hidden;
}

/* Set default link styles */
a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Set default heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/* Set default paragraph styles */
p {
  margin: 0;
  line-height: 1.5;
}

/* Set default list styles */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--color-secondary-dark);
  color: var(--color-bw9);
  border-radius: 0.5rem;
}
